GOOGLE_SHEETS_CLIENT_EMAIL=wortholic-internships@wortholic-project.iam.gserviceaccount.com
GOOGLE_SHEETS_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nREPLACE_WITH_YOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEET_ID=1nh56P1kACkDNXiGeE9dSGPui8AaOlJRkknhdNeBLB1Y
GOOGLE_SHEET_NAME=Internships
GOOGLE_DRIVE_FOLDER_ID=1IxqAdgb4EWqKSe7qJQKN78Wa7FY0X_LD
EMAIL_USER=wortholicai@gmail.com
EMAIL_PASS=REPLACE_WITH_GMAIL_APP_PASSWORD
